{% extends "base.html" %}

{% block title %}Сторінка входу{% endblock %}

{% block content %}
<h2>Bxід</h2>
{% if user.is_authenticated %}
<p> Ви вже виконали вхід. </p>
{% else %}

    {% if form.errors %}
      <p>Ваші логін і пароль не співпадають. Спробуйте знову.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Ваш аккаунт не має доступу до цієї сторінки. Для продовження, ввійдіть за допомогою аккаунта, що має право доступу.</p>
      {% else %}
        <p>Будь-ласка, ввійдіть для перегляду цієї сторінки.</p>
      {% endif %}
    {% endif %}

    <form style="align-content: center" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table style="margin-left: auto; margin-right: auto">

    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Забули пароль?</a></p>
{%  endif %}


{% endblock %}